{cover_enabled, true}.
{cover_excl_mods, []}.
{cover_opts, [verbose]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.8.0"}}}
]}.
{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, true},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, []},
    {plt_location, local}, % local | "/my/file/name"
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel, crypto]},
    {base_plt_location, global}, % global | "/my/file/name"
    {base_plt_prefix, "rebar3"}
]}.
{base_dir, "_build"}.
{deps_dir, "lib"}.
{root_dir, "."}.
{checkouts_dir, "_checkouts"}.
{plugins_dir, "plugins"}.
{project_app_dirs, ["apps/*", "lib/*", "."]}.
{src_dirs, ["src"]}.
{eunit_opts, [verbose]}.
{relx, [{release, { texas, "0.0.1"},
         [ 
            texas 
         ]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"}
       ]
}.
{shell, [{apps, [ texas ]}]}.
{xref_warnings, true}.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.
